* {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

.clearfix {
    float: none;
    clear: both;
}

/* body {
    background: url(../img/background.jpg);
    background-attachment: fixed;
} */

#global {
    width              : 65%;
    margin             : 0 auto;
    margin-top         : 30px;
    padding            : 20px;
    /* background-color: white;
    box-shadow         : 0 0 20px grey; */
}

#logo {
    font-family        : Verdana, Arial;
    font-size          : 30px;
    letter-spacing     : 4px;
    text-align         : center;
    width              : 385px;
    height             : 80px;
    margin-bottom      : 20px;
    line-height        : 75px;
    float              : left;
    text-transform     : uppercase;
    /* background-color: #235E3D;
    color              : white; */
}

#menu {
    font-family        : Helvetica, Arial;
    width              : 100%;
    text-transform     : uppercase;
    margin-bottom      : 20px;
    /* background-color: #333; */
}

#menu ul {
    line-height: 46px;
    list-style : none;
}

#menu ul li {
    height    : 46px;
    display   : inline-block;
    transition: all 300ms;
}

/* #menu ul li:hover {
    background-color: #235E3D;
} */

#menu a {
    display        : block;
    text-decoration: none;
    padding-left   : 30px;
    padding-right  : 30px;
    /* color       : white; */
}

#post {
    width      : 60%;
    float      : left;
    font-family: Helvetica, Arial;
}

.post {
    padding: 7px;
}

h2 {
    font-family: Helvetica, Arial;
    font-size  : 30px;
    color      : #333;
}

.post .date {
    display   : block;
    margin-top: 5px;
    /* color  : gray; */
}

.post p {
    margin-top   : 10px;
    margin-bottom: 20px;
    line-height  : 22px;
    text-align   : justify;
}

.button-more {
    font-size          : 14px;
    text-align         : center;
    display            : block;
    width              : 70px;
    padding            : 15px;
    text-decoration    : none;
    margin-top         : 10px;
    margin-bottom      : 20px;
    /* background-color: #235E3D;
    color              : white; */
}

#sidebar {
    font-family: helvetica, Arial;
    width      : 31%;
    float      : right;
}

#sidebar h4 {
    margin-top      : 50px;
    margin-bottom   : 20px;
    text-align      : center;
    line-height     : 10px;
    /* color        : #333;
    background-color: #ccc; */
}

#sidebar h4 span {
    padding            : 5px;
    /* background-color: white; */
}

#sidebar img {
    width    : 100%;
    /* border: 1px solid #eee; */
}

#sidebar p {
    font-size : 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select {
    padding      : 5px;
    border-radius: 1px;
    width        : 80%;
    margin-bottom: 10px;
    margin-top   : 5px;
    /* border    : 1px solid #ccc; */
}

form input[type="submit"] {
    padding            : 10px;
    cursor             : pointer;
    /* background-color: #eee;
    border             : 1px solid #ccc;
    color              : #333; */
}

footer {
    font-family     : Helvetica, Arial;
    height          : 47px;
    margin          : 0 auto;
    width           : 65%;
    padding-left    : 20px;
    padding-right   : 20px;
    margin-top      : 50px;
    line-height     : 47px;
    /* color        : white;
    background-color: rgba(51, 51, 51, .7); */
}

.bx-wrapper img {
    width : inherit;
    height: max-content;
}

#selector-theme {
    position        : fixed;
    top             : 40%;
    background-color: rgba(51, 51, 51, 0.5);
    width           : 50px;
    height          : 100px;
}

#to-green,
#to-blue,
#to-red {
    width  : 25px;
    height : 25px;
    border : 1px solid white;
    display: block;
    margin : 5px auto 5px auto;
    cursor : pointer;
}

#to-green {
    background-color: #235E3D;
}

#to-blue {
    background-color: #1F87C4;
}

#to-red {
    background-color: #CA3413;
}

.subir {
    color          : white;
    text-decoration: none;
    display        : block;
    float          : right;
}

#box {
    width     : 60%;
    float     : left;
    margin-top: 40px;
}

#acordeon {
    margin-top: 20px;
}

#reloj {
    font-size  : 30px;
    font-weight: bold;
    font-family: Helvetica, Arial;
    color: #333;
    border: 5px dashed #333;
    width: 30%;
    padding: 30px;
    margin: 0 auto;
}

#form_contact {
    width: 50%;
    margin-top: 15px;
    font-family: Helvetica, Arial;
}

#form_contact label {
    display: block;
    width: 100%;
    margin-top: 5px;
}

#form_contact .error {
    color: red;
    font-size: small;
    margin-bottom: 20px;
}