<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ web }}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti nemo at,
    a voluptatibus enim ipsam molestiae ad minus, atque voluptatum modi deleniti
    error quo. Rerum incidunt officia dolorem maiores temporibus. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Esse corporis minima eveniet,
    reiciendis ab, soluta quas, deleniti accusamus nulla inventore voluptate
    repudiandae repellat? Quisquam laborum architecto facere maxime libero
    distinctio.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
    provident suscipit minima accusantium at asperiores aspernatur, laboriosam
    nesciunt numquam dicta, unde earum! Deleniti totam aperiam perspiciatis
    voluptatem enim itaque ullam.
  </p>
</article>
